.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    z-index: var(--z-index-modal);
    align-items: center;
}

.modal {
    background-color: #ffffff;
    padding: 24px;
}